apiVersion: apps/v1
kind: Deployment 
metadata: 
  labels:
    app: ai-chatbot
    namespace: dev 
  name: ai-chatbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-chatbot
  template: 
    metadata:
      labels: 
        app: ai-chatbot
    spec:
      containers:
        name: ai-agent
        image: eb300/ai-agent:latest
        ports:
          - containerPort: 8000 
